@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-black text-white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-900 rounded;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded hover:bg-zinc-600;
}